.shopcategory-products {
    width: 90%;
    max-width: 1360px;
    justify-content: center;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }
 
  .shopcategory-products img {
    height: 450px; 
  }
  
  /* Media queries */
  @media (max-width: 1280px) {
    .shopcategory-banner {
      margin: 20px auto;
      width: 90%;
    }
    .shopcategory-indexSort {
      width: 90%;
      margin: auto;
    }
    .shopcategory-sort {
      padding: 5px 10px;
      font-size: 12px;
    }
    .shopcategory-indexSort p {
      font-size: 12px;
    }
  }
  
  @media (max-width: 800px) {
    .shopcategory-banner {
      width: 95%;
    }
    .shopcategory-loadmore {
      margin: 60px auto;
      width: 150px;
      height: 40px;
      font-size: 13px;
    }
  }
  