.about-us {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .about-us h2 {
    font-size: 60px;
    align-items: center;
    margin-left:400px;
    font-family:italianno;
    text-decoration: wavy;
    color: #d4d4d4;
  }
  
  .about-us p {
    font-size: 20px;
    line-height: 1.6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #b5b5b5;
  }
  .footer-social-icon{
    display: flex;
    gap: 20px;
    margin-left:400px;
}
.footer-icons-container{
    padding: 10px;
    padding-bottom: 6px;
    background: #ffffff;
  
    border: 1px solid #ebebeb;
}
.footer-icons-container img{
    width: 60px;
    
}
  
  /* Add more CSS rules as needed to style your component */
  